@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido! Gracias por ver este proyecto</h1>
</div>

<div class="container border bg-light mt-5 p-3">
    <h2><Strong>Notas importantes</Strong></h2>
    <p>El backup de la base de datos se encuentra en la carpeta compartida </p>
    <p>Las consultas realizadas y echas se encuentran en el archivo consultas.sql </p>
    <p>Link de respaldo hacia repositorio git-hub:<a href="https://github.com/IYHM24/proyecto-gss.git"> Cick aca </a></p>
</div>  

<div class="container border bg-light mt-5 p-3">
    <h2><Strong>Guia</Strong></h2>
    <p>Este proyecto se creo sobre ASP.NET CORE 5 con la arquitectura MVC empleando el lenguaje C#</p>
    <p>La pestaña registro muestra la tabla 1.4 </p>
    <p>La pestañana de contador muestra los alquileres por dia y por mes</p>
</div>    


